<h3 class="mb-5 title"><strong>Fodmap(フォドマップ)食品一覧</strong></h3>

<div class="container">
  <% @categories.each do |c| %>
    <div class="row g-2 mb-5">
      <h5 class="sub-title"><strong><%= c.name %></strong></h5>
      <div class="col-sm">
        <div class="low">
          <h5><strong>○ 低FODMAP食</strong></h5>
          <ul>
            <% c.foods.where(fod: 1).each do |f| %>
              <li class="mb-2"><%= f.name %></li>
            <% end %>
            <p class="mt-2">など...</p>
          </ul>
        </div>
      </div>
      <div class="col-sm">
        <div class="high">
          <h5><strong>× 高FODMAP食</strong></h5>
          <ul>
            <% c.foods.where(fod: 2).each do |f| %>
              <li class="mb-2"><%= f.name %></li>
            <% end %>
            <p class="mt-2">など...</p>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>