@import "~bootstrap/scss/bootstrap";

//layouts
html {
  height: 100%;
}
body {
  color: #3f4245;
  padding-bottom: 100px;
}
a {
  color: #3f4245;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.parent {
  max-width: 1100px;
}
.main {
  margin-top: 130px;
}
.side {
  background-color: #eeeeee;
  height: 100vh;
}
@media screen and (max-width: 991px) {
  .side {
    display: none;
  }
}
.title {
  border-left: solid #dbb34e;
  padding-left: 0.5em;
}
@media screen and (max-width: 450px) {
  .title {
    border-left: solid #dbb34e;
    padding-left: 0.5em;
    margin-left: 0.2em;
  }
}
.sub-title {
  border-left: solid #dbb34e;
  padding-left: 0.3em;
}

// navbar
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: white;
}
.navshadow {
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.2);
}
.navbar-brand {
  font-size: 30px;
  font-weight: 150;
  border-bottom: double;
  padding-bottom: 0;
  margin-bottom: 5px;
}
.navbar-light .navbar-nav .nav-link {
  font-weight: 700;
  font-size: 14px;
}
.navbar-light .navbar-nav .nav-item {
  margin: 0 8px;
}
.search {
  min-width: 300px;
}
.fa-user-circle {
  margin-top: 4px;
  font-size: 30px;
  color: #4c4c4c;
}
.dropdown-menu {
  width: auto;
  position: relative;
  top: 50px;
  left: -50px;
}

//navbarのフォーム
.search_container {
  box-sizing: border-box; //paddingやborderがwidth,hightに含まれる
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 1px 1px 0 40px;
  border-radius: 20px;
  width: 40%;
  overflow: hidden;
  background-color: #ffffff;
}
.search_container input[type="text"] {
  border: none;
  height: 2.5em;
  width: 100%;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"] {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.1em;
  border: none;
  background: none;
  color: #757575;
  position: absolute;
  width: 2.5em;
  height: 3em;
  left: 0;
  top: -4px;
  outline: none;
}

//all-search-form
.search-set {
  display: none;
}
.search_con {
  box-sizing: border-box; //paddingやborderがwidth,hightに含まれる
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 1px 1px 0 40px;
  border-radius: 20px;
  width: auto;
  overflow: hidden;
  background-color: #ffffff;
}
.search_con input[type="text"] {
  border: none;
  height: 2.5em;
  width: 100%;
}
.search_con input[type="text"]:focus {
  outline: 0;
}
.search_con input[type="submit"] {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.1em;
  border: none;
  background: none;
  color: #757575;
  position: absolute;
  width: 2.5em;
  height: 3em;
  left: 0;
  top: -4px;
  outline: none;
}
//navbarがスマホ表示になるタイミング
@media screen and (max-width: 991px) {
  .search_container {
    display: none;
  }
  .search-set {
    display: block;
  }
  .navshadow {
    box-shadow: none;
  }
  .main {
    margin-top: 30px;
  }
  header {
    position: relative;
  }
}

//recipes/new
.new {
  padding: 30px;
  // border-radius: 10px;
  // box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
}

@media screen and (max-width: 450px) {
  .main {
    padding: 0;
  }
  .new {
    padding: 10px;
  }
}
.box1 {
  height: 30%;
  padding-top: 10px;
}
.box2 {
  height: 70%;
  padding-top: 30px;
}
.box2 .form-control {
  height: 80%;
}
.jojo {
  display: inline-block;
  max-width: 30%;
}
.people {
  margin-bottom: 20px;
}
.number {
  width: 100px;
}
.fa-times-circle {
  font-size: 18px;
}
.botton {
  border-color: #ced4d9;
  border-width: 1px;
}
.img_prev:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}
.btn-container {
  height: 40px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}
.new-btn {
  height: 100%;
  width: 100%;
  background-color: #dbb34e;
  border: none;
  border-radius: 100px;
  color: white;
  font-weight: 600;
}
.new-btn:focus {
  outline: none;
}
.new-btn:hover {
  background-color: #e3c477;
}

//recipes/index
.box {
  display: flex; /* FlexBox定義 */
  justify-content: center; /* 揃えの定義 */
  flex-wrap: wrap; /* 折り返し定義*/
}
.box-content {
  box-sizing: border-box; /* 罫線も含む長さ */
  width: 190px; /* サンプルBOXの幅 */
  height: 240px; /* サンプルBOXの幅  */
  margin: 10px; /* サンプルBOXの間  */
  border-radius: 7px;
  background-color: white;
  border: solid 1px #eeeeee;
  overflow: hidden;
}
.box-content:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
  color: #3f4245;
}
.recipe-photo {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 7px 7px 0 0;
}
.recipe-title {
  margin: 3px 10px;
  font-weight: bold;
}
.box a:hover {
  color: #3f4245;
}
.ingredient-box {
  color: #777777;
  margin: 3px 10px;
  font-size: 13px;
}
@media screen and (max-width: 568px) {
  .box-content {
    box-sizing: border-box; /* 罫線も含む長さ */
    width: 145px; /* サンプルBOXの幅 */
    height: 190px; /* サンプルBOXの幅  */
    margin: 5px; /* サンプルBOXの間  */
    border-radius: 5px;
    background-color: white;
  }
  .recipe-photo {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }
}

//favorites
.fav {
  border-radius: 5px;
}
.button1 {
  display: block;
  margin: 0 auto;
  background-color: #f0efef;
  width: 236px;
  height: 50px;
  border-radius: 30px;
  border: none;
}
.button1:focus {
  outline: none;
}
.button2 {
  display: block;
  margin: 0 auto;
  background-color: #ffedec;
  width: 236px;
  height: 50px;
  border-radius: 30px;
  border: none;
}
.button2:focus {
  outline: none;
}
.love {
  color: #ff4e4e;
}

//recipes/show
.right {
  text-align: right;
}
.table-number {
  text-align: center;
}

//users/show
.tab-button {
  padding-left: 20px;
  padding-right: 20px;
}

//foods/index
.low {
  border: solid #86cee8;
  padding: 0;
  border-radius: 10px;
}
.low h5 {
  color: #86cee8;
  padding: 10px;
}

.high {
  border: solid #ed8989;
  padding: 0;
  border-radius: 10px;
}
.high h5 {
  color: #ed8989;
  padding: 10px;
}

//homes/top
.what-fod {
  letter-spacing: 0.1em;
  line-height: 2em;
  padding: 5px;
}
.box-mini {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box-mini a:hover {
  color: #3f4245;
}
@media screen and (max-width: 488px) {
  .scr {
    width: auto;
    overflow: scroll;
  }
  .box-mini {
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
  }
}
.view {
  float: right;
}

//registrations/new
.actions {
  text-align: center;
}
.signup-btn {
  background-color: #dbb34e;
  border: 0;
  border-radius: 100px;
  padding: 14px 0;
  width: 70%;
  color: white;
  font-weight: 600;
}
.signup-btn:focus {
  outline: none;
}
.signup-btn:hover {
  background-color: #e3c477;
}
.google-btn {
  background-color: #a94335;
  color: white;
  display: inline-block;
  border: 0;
  border-radius: 100px;
  padding: 14px 0;
  width: 70%;
  font-weight: 600;
}
.google-btn:hover {
  color: white;
  background-color: rgba(169, 67, 53, 0.8);
}
.signup-border {
  max-width: 100%;
  border: 0.5px solid #f0efef;
  margin: 40px 0;
}
